# Configuration file for training sk_models

[CNN-128]
NUM_ITERATIONS = 40000
NUM_CLASSES = 250
DATASET_SIZE = 14000  
TEST_SIZE = 6000
BATCH_SIZE = 100
SNAPSHOT_TIME = 1000
TEST_TIME = 500
LEARNING_RATE = 0.0001
SNAPSHOT_PREFIX = ./trained_sk_128/sk
DATA_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ_CL/tf/extended


[CNN-256]
NUM_ITERATIONS = 40000
NUM_CLASSES = 250
DATASET_SIZE = 126000
TEST_SIZE = 6000
BATCH_SIZE = 64
SNAPSHOT_TIME = 1000
TEST_TIME = 500
LEARNING_RATE = 0.0001
SNAPSHOT_PREFIX = ./trained_sk_256_drop/sk_
DATA_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ_CL/tf/extended_256

[CNN-256-THICK-SIMPLE]
NUM_ITERATIONS = 50000
NUM_CLASSES = 250
DATASET_SIZE = 14000
TEST_SIZE = 6000
BATCH_SIZE = 96
SNAPSHOT_TIME = 1000
TEST_TIME = 150
LEARNING_RATE = 0.0001
SNAPSHOT_PREFIX = ./trained_sk_256_thick_simple
DATA_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ_CL/tf/simple_256_thick

[CNN-256-THICK-EXTENDED]
NUM_ITERATIONS = 50000
NUM_CLASSES = 250
DATASET_SIZE = 126000
TEST_SIZE = 6000
BATCH_SIZE = 96
SNAPSHOT_TIME = 1000
TEST_TIME = 300
LEARNING_RATE = 0.0001
SNAPSHOT_PREFIX = ./trained_sk_256_thick_extended
DATA_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ_CL/tf/extended_256_thick

[RESNET-128]
NUM_ITERATIONS = 40000
NUM_CLASSES = 250
DATASET_SIZE = 14000  
TEST_SIZE = 6000
BATCH_SIZE = 100
SNAPSHOT_TIME = 1000
TEST_TIME = 500
LEARNING_RATE = 0.0001
SNAPSHOT_PREFIX = ./trained_sk_resnet_128/sk
DATA_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ_CL/tf/extended

[RESNET-256]
NUM_ITERATIONS = 100000
NUM_CLASSES = 250
DATASET_SIZE = 126000  
TEST_SIZE = 6000
BATCH_SIZE = 64
SNAPSHOT_TIME = 1000
TEST_TIME = 500
LEARNING_RATE = 0.0001
SNAPSHOT_PREFIX = ./trained_sk_resnet_256_drop/sk
DATA_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ_CL/tf/extended_256

[RESNET-256-THICK-SIMPLE]
NUM_ITERATIONS = 50000
NUM_CLASSES = 250
DATASET_SIZE = 14000
TEST_SIZE = 6000
BATCH_SIZE = 64
SNAPSHOT_TIME = 1000
TEST_TIME = 500
LEARNING_RATE = 0.0001
SNAPSHOT_PREFIX = ./trained_sk_resnet_256_thick_simple/sk
DATA_DIR = /home/vision/smb-datasets/SBIR/Sketch_EITZ_CL/tf/simple_256_thick


[MNIST]
NUM_ITERATIONS = 10000
NUM_CLASSES = 10
DATASET_SIZE = 60000
TEST_SIZE = 10000
BATCH_SIZE = 100
SNAPSHOT_TIME = 1000
TEST_TIME = 60
LEARNING_RATE = 0.0001
SNAPSHOT_PREFIX = ./trained_mnist
DATA_DIR = /home/vision/smb-datasets/MNIST/



